.message {
    display: flex;
    position: relative;
    gap: 20px;

    padding: 20px 40px;
    border-bottom: 1px solid var(--grey);
    
    transition: background-color .3s ease;
}

.message:hover {
    background-color: #434343;
}

.message > .profile-photo {
    height: 60px;
    min-width: 60px;
    border-radius: 4px;
    overflow: hidden;
}

.message img {
    object-fit: cover;
    width: 60px;
    aspect-ratio: 1/1;
}

.message .content {
    width: 90%;
    white-space: pre-wrap;
}

.message .content > p {
    width: 100%;
    margin: 0;
    overflow-wrap: break-word;
}

.content-author-time {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.message h6.author {
    font-size: 16px;
    margin: 0;
    margin-bottom: 5px;
}

.message p.created-at {
    color: var(--lt-grey);
    font-size: 14px;
    margin-bottom: 7px;
}

.message-hover-profile {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.content p {
    margin: 0;
    color: var(--white);
}

.message-controls {
    position: absolute;
    display: none;
    align-items: center;

    top: 3px;
    right: 30px;

    border: 1px solid var(--grey);
    border-radius: 4px;

    font-size: 16px;
    color: var(--white);
    background-color: transparent;

    height: 30px;
}

.message-controls.visible {
    display: flex;
    cursor: pointer;
}

.message-controls > button:hover {
    background-color: #5f5f5f;
}

.message-controls > button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-right: 1px solid var(--grey);

    font-size: 16px;
    color: var(--white);
    background-color: transparent;

    height: 30px;
    padding: 0 10px;
}

.message-controls > .ellipses {
    padding: 0 10px 10px;
}

.message-controls > button:last-child {
    border: none;
}

.message-option-dd {
    position: absolute;
    top: 3px;
    right: 70px;

    width: 180px;

    border-radius: 4px;

    background-color: var(--black);
}

.message-option-dd > button {
    padding: 10px;
    width: 100%;

    border: 1px ridge var(--grey);
    border-bottom: none;

    color: var(--white);
    background-color: transparent;

    transition: background-color .2s ease;
}

.message-option-dd > button:first-child {
    border-radius: 4px 4px 0 0;
}

.message-option-dd > button:last-child {
    color: #d03535;

    border-bottom: 1px ridge var(--grey);
    border-radius: 0 0 4px 4px;
    
    transition: color .2s ease;
}

.message-option-dd > button:hover {
    background-color: var(--blue);
    color: var(--white);
}

.message-reactions {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}