#channel-panel {
    width: auto;
    box-sizing: border-box;
    height: 100%;
    overflow: scroll;

    color: #fff;
}

#channel-details {
    position: sticky;
    top: 0;

    width: inherit;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;

    background-color: var(--black);

    border-top: 1px ridge;
    border-bottom: 1px ridge;
    border-color: var(--grey);
}

#channel-details p {
    padding: 5px 10px;
    border: 1px solid var(--grey);
    border-radius: 25px;
}

#message-feed {
    overflow: scroll;
}