.channel-form {
    box-sizing: border-box;
    position: relative;

    height: 300px;
    width: 500px;

    padding: 40px;
}

.channel-form h2 {
    margin-top: 0;
}

.channel-form label {
    padding-left: 10px;
}

.channel-form input {
    display: block;

    width: 80%;
    padding: 5px;
    margin-top: 10px;

    border-color: #212121;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;

    color: #fff;
    background-color: #3f3f3f;

    font-size: 16px;
}

.channel-form input:hover {
    border-color: #d9d9d9;
}

.channel-form input:focus {
    outline: none;
    border-color: #d9d9d9;
}

.channel-form-btn {
    position: absolute;
    bottom: 30px;
    right: 40px;

    padding: 15px 20px;

    border: 1px solid #212121;
    border-radius: 4px;

    font-size: 16px;
    color: #d9d9d9;
    background-color: var(--blue);

    transition: background-color .3s ease;
}

.channel-form-btn:hover {
    background-color: var(--blue-hover);
}

.channel-form-btn:active {
    background-color: var(--blue);
}