#channel-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 10px;
  }
  
  #channel-list a {
    margin-bottom: 5px;
  }

  #channel-option-dd {
    position: absolute;
    top: 40px;
    left: 30px;
  }

  #channel-option-dd button {
    width: 200px;
    padding: 10px 15px;

    border: 1px ridge #555;
    border-radius: 4px;

    font-size: 14px;
    text-align: left;

    color: #d9d9d9;
    background-color: var(--black);

    transition: background-color .2s ease;
  }

  #channel-option-dd button:hover {
    background-color: var(--blue);
  }

  .channel-list-item {
    margin-bottom: 5px;
    
    font-size: 15px;
    font-weight: 200;

    cursor: pointer;
  }

  .channel-list-item.selected {
    font-weight: 600;
  }

  .channel-list-item::before {
    content: '#';
    margin-right: 10px;
  }