.message-form.new-message {
    position: absolute;
    bottom: 0;
    width: 100%;

    background: linear-gradient(rgba(47,47,47,0), rgba(47,47,47,1) 50%);
}

.message-form.edit-message {
    position: relative;
    width: 70vw;
}

.edit-header {
    padding-left: 30px;
}

.input-area {
    position: relative;
    padding: 0 30px 20px;
}

.message-form textarea {
    display: block;
    box-sizing: border-box;
    resize: none;

    height: 90px;
    width: 100%;

    padding: 15px 20px;

    border-color: #212121;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;

    color: #fff;
    background-color: #3f3f3f;

    font-family: 'Plus Jakarta Sans';
    font-size: 16px;

    transition: border-color 0.3s;
}

.message-form textarea:hover {
    border-color: var(--white);
}

.message-form textarea:focus {
    outline: none;
    border-color: var(--white);
}

.add-file-btn {
    position: absolute;
    bottom: 30px;
    left: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 10px;
    width: 10px;

    padding: 10px;

    border-radius: 20px;
    color: var(--white);
    background-color: var(--black);
    cursor: pointer;
}

.add-file-btn:hover {
    background-color: #4a4a4a;
}

.send-btn {
    position: absolute;
    bottom: 30px;
    right: 40px;

    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;

    border: none;
    border-radius: 4px;

    color: #e2e2e2;
    background-color: var(--dk-green);
}

.send-btn:disabled {
    color: var(--grey);
    background-color: transparent;
}

.send-btn:hover:not(:disabled) {
    background-color: var(--dk-green-hover);
}

.send-btn svg {
    transform: rotate(45deg);
}